# Introduction to pandas library

<img style="float: right; margin: 0px 0px 3px 3px;" src="https://numfocus.org/wp-content/uploads/2016/07/pandas-logo-300.png" width="100px" height="100px" />

Pandas is library for data manipulation and analysis; it offers data structures and operations for manipulating numerical tables and time series.
The following exercises show some examples of how this library can be used for data manipulation:

In [12]:
#import library as pd
import pandas as pd

#### 1. Manipulating weights and heights

In [13]:
# Import excel 
data=pd.read_excel('01- Datos actividad pandas.xlsx',
                    names= ['idpersona', 'peso','estatura']) 
print(data)

    idpersona  peso  estatura
0           1    67      1.41
1           2    99      1.83
2           3    86      1.90
3           4   118      1.65
4           5   109      1.67
..        ...   ...       ...
95         96    88      1.49
96         97    98      1.54
97         98    95      1.57
98         99    61      1.61
99        100   107      1.62

[100 rows x 3 columns]

In [14]:
#Calculate BMI vector (weight / (height) ** 2)
data['imc'] =data['peso'] / (data['estatura'] **2)
print(data)

    idpersona  peso  estatura        imc
0           1    67      1.41  33.700518
1           2    99      1.83  29.561946
2           3    86      1.90  23.822715
3           4   118      1.65  43.342516
4           5   109      1.67  39.083510
..        ...   ...       ...        ...
95         96    88      1.49  39.637854
96         97    98      1.54  41.322314
97         98    95      1.57  38.541117
98         99    61      1.61  23.533043
99        100   107      1.62  40.771224

[100 rows x 4 columns]

In [15]:
#Calculate mean of  weights and  mean of  heights
media_peso= data['peso'].mean() 
media_esta =data['estatura'].mean()
print('Mean of  weights: ', media_peso,' Mean of  heights: ',  media_esta)

Mean of  weights:  85.58  Mean of  heights:  1.6610999999999998

In [16]:
#Print the ID of the heaviest person, of the shortest person
id_maxpeso= data[max(data['peso'])== data['peso']]['idpersona']
id_minest = data[min(data['estatura'])== data['estatura']]['idpersona']

print (id_maxpeso)
print( id_minest)

15    16
Name: idpersona, dtype: int64
57    58
83    84
Name: idpersona, dtype: int64

In [17]:
#Print the vector of IDs where BMI> = 28
imcmax= data[(data['imc'] >= 28)]['idpersona']
print(imcmax)

0       1
1       2
3       4
4       5
5       6
     ...
93     94
95     96
96     97
97     98
99    100
Name: idpersona, Length: 61, dtype: int64

#### 2. Manipulating sales data

In [19]:
#import excel first sheet name "vt"
vt = pd.read_excel('01- Datos tarea pandas.xlsx', 'vt', 
                   names = [ 'Mes', 'Ingreso', 'Gasto'])

In [20]:
# Modify the DataFrame to increase revenue each month by $ 1000. 
vt['Ingreso'] += 1000
print (vt)

           Mes  Ingreso  Gasto
0        Enero     2340   1880
1      Febrero     3590   3130
2        Marzo     4570   2140
3        Abril     5450   3370
4         Mayo     2330   2990
5        Junio     2610   1970
6        Julio     2500   2230
7       Agosto     3270   1240
8   Septiembre     2910   1470
9      Octubre     3120   2280
10   Noviembre     4950   1870
11   Diciembre     2380   3140

In [21]:
#Add a new column 'Utilidad'= (Ingreso - Gasto).
vt['Utilidad'] = vt['Ingreso']- vt['Gasto']
print (vt)

           Mes  Ingreso  Gasto  Utilidad
0        Enero     2340   1880       460
1      Febrero     3590   3130       460
2        Marzo     4570   2140      2430
3        Abril     5450   3370      2080
4         Mayo     2330   2990      -660
5        Junio     2610   1970       640
6        Julio     2500   2230       270
7       Agosto     3270   1240      2030
8   Septiembre     2910   1470      1440
9      Octubre     3120   2280       840
10   Noviembre     4950   1870      3080
11   Diciembre     2380   3140      -760

In [22]:
#Find the average of Spending in the months in which the Profit was negative. 
utilidad_negativa = vt[ vt['Utilidad'] < 0]['Gasto']
print('The average expense in the months in which the profit was negative was e: ',
      utilidad_negativa.mean())

The average expense in the months in which the profit was negative was e:  3065.0

In [23]:
#Find the total income for the year. 
ingreso_total = sum( vt['Ingreso'])
print('Total income for the year was:', ingreso_total)

Total income for the year was: 40020

In [24]:
# Find the list of the months in which the Profit was positive.
utilidad_positiva= vt[ vt['Utilidad'] >= 0]['Mes']
#Option 1 - pass variable from string type to list
meses_positivo = utilidad_positiva.tolist()
print('Los meses son ultidad postiva son: ', meses_positivo )
#Option 2 - bring the values of the series
print('Los meses son ultidad postiva son: ', utilidad_positiva.values)

Los meses son ultidad postiva son:  ['Enero', 'Febrero', 'Marzo', 'Abril', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre']
Los meses son ultidad postiva son:  ['Enero' 'Febrero' 'Marzo' 'Abril' 'Junio' 'Julio' 'Agosto' 'Septiembre'
 'Octubre' 'Noviembre']

In [25]:
#import sheet  "8c", changing the first column to index.
cd= pd.read_excel('01- Datos tarea pandas.xlsx', '8c', index_col=0)

In [26]:
#Convert all values to miles (km / 1,609) 
cd = cd.div(1.609)
print(cd)

               Tijuana       Mérida          GDL       México         León  \
Tijuana       0.000000  2597.886886  1433.188316  1770.043505  1571.783717
Mérida     2597.886886     0.000000  1164.698571   827.843381  1068.365444
GDL        1433.188316  1164.698571     0.000000   336.855190   138.595401
México     1770.043505   827.843381   336.855190     0.000000   241.765071
León       1571.783717  1068.365444   138.595401   241.765071     0.000000
Monterrey  1497.203232  1271.597265   490.366687   579.863269   441.889372
Tapachula  2489.123679   660.037290  1055.935364   719.080174   959.602237
Chihuahua   983.840895  1752.019888   747.047856   924.176507   708.514605

             Monterrey    Tapachula    Chihuahua
Tijuana    1497.203232  2489.123679   983.840895
Mérida     1271.597265   660.037290  1752.019888
GDL         490.366687  1055.935364   747.047856
México      579.863269   719.080174   924.176507
León        441.889372   959.602237   708.514605
Monterrey     0.000000  1120.571784   513.362337
Tapachula  1120.571784     0.000000  1643.256681
Chihuahua   513.362337  1643.256681     0.000000

In [27]:
#Generate a series called gdl with the distances from Guadalajara to all cities.

#including GDl 
gdl = cd['GDL'] 
print(gdl)
# Not including GDL
gdl_sin_gdl =gdl.drop(labels=['GDL'])
print(gdl_sin_gdl)

Tijuana      1433.188316
Mérida       1164.698571
GDL             0.000000
México        336.855190
León          138.595401
Monterrey     490.366687
Tapachula    1055.935364
Chihuahua     747.047856
Name: GDL, dtype: float64
Tijuana      1433.188316
Mérida       1164.698571
México        336.855190
León          138.595401
Monterrey     490.366687
Tapachula    1055.935364
Chihuahua     747.047856
Name: GDL, dtype: float64

In [ ]:
#Find the list of cities that are more than 1000 miles from Guadalajara.
dist_gdl = gdl[gdl >= 1000]
print('Las ciuidadess que están a de 1000 millas de Guadalajara son:\n',dist_gdl)